<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.app1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".AccountManagement">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".GameAnalysis">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".ImportExportTeamData">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".InjuryReport">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".ManageExercises">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".Logout">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".ManagePlayersInformation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".ManageTeamMembers">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".ManageTeamSchedule">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".ManageTreatments">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".MatchStatistics">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".MedicalSchedule">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".PersonalSettings">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".PlayerGameAnalysis">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".PlayerOverview">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".PlayerScouting">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".PlayerStatistics">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".SetPositionsStandards">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".SetTeamStandards">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>

        <activity android:name=".TeamManagement">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".TeamMembership">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".TrainingImpact">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".TrainingSchedule">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".TrainingScheduleGenerator">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".TrainingStatistics">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity android:name=".TreatmentGenerator">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
    </application>


</manifest>